# ==============================================================================
# Tuya Akıllı Ampul - Yerel Ağ Bağlantı Bilgileri (Örnek Şablon)
# ==============================================================================
TUYA_DEVICE_ID=your_device_id_here
TUYA_IP=192.168.1.xxx
TUYA_LOCAL_KEY="your_local_key_here"
TUYA_VERSION=3.3

# ==============================================================================
# Tuya Cloud API Bilgileri (Opsiyonel - Sadece Cihaz Ekleme / Sihirbaz İçin)
# ==============================================================================
TUYA_API_KEY=your_api_key_here
TUYA_API_SECRET=your_api_secret_here
TUYA_API_REGION=eu
